snippet begin "Begin" b
\begin{${1:class}}
	$0
\end{$1}
endsnippet

snippet cmd "Command" i
\\${1:cmdname}{$0}
endsnippet

snippet isec "isec" b
\documentclass{../iSec}
\begin{document}
\maketitle{1}{23.10.2014}{Stefanie Gerdes }{07}{Sebastian Bliefert}{Johannes Hackbarth}{Martin Zeller}

${VISUAL}$0

\end{document}
endsnippet
