snippet itag "A tag" i
<${1:p}$2>${VISUAL}$0</$1>
endsnippet

snippet tag "A tag" b
<${1:p} $2>
	${VISUAL}$0
</$1>
endsnippet

snippet div "Div tag" b
<div class="$1">
	${VISUAL}$0
</div>
endsnippet

snippet htmlbp "HTML Boilerplate" b
<!DOCTYPE html>
<html>
	<head>
		<title>$1</title>
	</head>
	<body>
		$0
	</body>
</html>
endsnippet
