snippet snip "Snippet definition" b
`echo snippet` ${1:name} "${2:Description}" ${3:b}
$0
`echo endsnippet`
endsnippet

snippet global "Global snippet" b
`echo global` !p
$0
`echo endglobal`
endsnippet

snippet vis "Visual" i
\$\{VISUAL${1::default}${2::/transform/}\}
endsnippet
